@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 255, 255, 255; /* White text */
  --background-start-rgb: 0, 0, 0; /* Black background */
  --background-end-rgb: 0, 0, 0; /* Black background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #000; /* Black background for container */
  color: #fff; /* White text for container */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  color: #fff; /* White text */
  background-color: #000; /* Black background */
  border: 1px solid #ccc; /* Add a border */
  padding: 10px; /* Add some padding */
  font-size: 16px; /* Set font size */
  width: 100%; /* Make input take full width */
  margin-bottom: 10px; /* Add some space between inputs */
}

input:disabled {
  background-color: #333; /* Darker background when disabled */
}

button {
  width: 100%; /* Make button take full width */
  padding: 10px; /* Add some padding */
  font-size: 16px; /* Set font size */
  background-color: #fff; /* White background */
  color: #000; /* Black text */
  border: 1px solid #ccc; /* Add a border */
  cursor: pointer; /* Change cursor to pointer */
}

button:hover {
  background-color: #ccc; /* Change background on hover */
}

.appearance-settings {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.appearance-settings h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #fff; /* White text */
}

.appearance-settings label {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: #ccc; /* Light gray text */
}

.appearance-settings select {
  margin-top: 5px;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  width: 100%; /* Make select take full width */
}